.c2 {

    text-align: center;

    background-color:  linear-gradient(to bottom, #6e529d 100%,#d97b93 100%);;

    background: #d97b93 ;

background: linear-gradient(to bottom, #d97b93  1%, #6e529d 143%, #d97b93  40%,rgb(102, 26, 224) 100%);


    position: relative;
   
}




.index-value  {
    background-color: #9583b4;
    background-color: white;
    background-color: rgb(182, 205, 230);
    min-height: 2200px;
    font-family: montserrat;
}

.article {
    background-color: aliceblue;
    
}


.topic {
    text-align: justify;
    font-weight: 700;

}

.article {

}

.article:hover {
    
    cursor: pointer;
    
}


.tekstStartowy{
    color: aliceblue;
    font-size: 20px;
    font-family: montserrat;
    font-weight: 700;
}