
<div class="container-fluid c2 ">



   






    <div class="row  " *ngIf="tekstStartowy.length>1" >

        <div class="col-12" style="   font-family: montserrat;
            font-size: 45px; color: white; font-weight: 700;">
           {{tytulStartowy}}
        </div>

        <div class="col-2">

        </div>
     
            <div class="col-4 my-3" style="
            max-height: 15rem;">
                <img [src]="obrazStartowy" style="height: 15rem; width: 22rem;" class="rounded img-fluid"> 
            </div>
          

            <div class="col-4 p-4 tekstStartowy" style="text-align: right;">
                {{tekstStartowy}}
            </div>
    
            <div class="col-2">

            </div>

        </div>


    <div class="row index-value ">






        <div class="col-8" >


            <div *ngFor="let article of articleService.articlesCategory">

                
                <div class="article my-3" (click)="choseArticle(article)" >


                    <div class="row ">
                    
                            <div class="col-6">
                                <img [src]="getImage(article)" class="img-fluid" style="min-width: 100%;">
                            </div>

                            <div class="col-6  m-0"  style="padding-left: 0px ;padding-right:25px" >
                                
                                <div class="row m-0 p-0">

                                    <div class="topic col-12  p-1">
                                        {{article.topic}}
                                    </div>
                              
                                    <div class="col-1  p-0" style="margin-left: -5px;">
                                        <i class="bi bi-clock" style="font-size: 14px;
                                        font-weight: 900;"></i> 
                                    </div>

                                    <div class="col-1  p-0" style="margin-left: -5px;">

                                        <small class="float-left">{{article.created | date: 'dd.MM.yyyy'}}</small>
                                    </div>

                                    <div class="col-5 mx-4" style="font-size: 16px;">
                                         
                                    </div>
                               


                                </div>
                              
                                <div class="row p-0"  style="text-align:justify; ">


                                    <div style="margin:0px">
                                        {{getFirstParagraphText(article.paragraphs)}}
                                    </div>
                                  


                                </div>
                                 
                                    
                                

                            </div>


                    </div>
                    
                      
                    
                  
                </div>
             

            </div>

       


        </div>



    </div>


</div>