
<div class="container " style="text-align: center;">


  <div class="row justify-content-md-center">

    <div class="login col-8 m-4 rounded">


      <div class="row">

                <div class="col-6 my-5 align-items-center justify-content-center" style="text-align: center; float:top" >


                  <div class="my-3 row p-5">
                    <h1 style="font-size:60px; font-family: 'Hanalei Fill', cursive;">
                      JOIN US !
                    </h1>

                      <div style="width:200px; margin-left:20px "
                      class="col-12 mx-5 my-4">
    <img src="assets/felix.webp"  class="img-fluid" width="">
                      </div>

                  </div>

                </div>



                <div class="col-6 p-3 my-0 " >

                  <form>


                      <br><br><br>
                     <input type="text" class="form-control my-3"  placeholder="username / email">

                     <input type="password" class="form-control my-2" placeholder="password">


                     <div class="m-2">

                      <input type="checkbox" class=" form-check-input " >
                      <label > Remember me</label>

                      <a class="m-3 link" >Forgot Password</a>

                     </div>



                      <button class="btn  btn-block form-control my-1 zaloguj-btn" width="500" style="clear:both"
                      type="submit">Zaloguj</button>

                      <label class="my-1">OR</label>
                      <button class="btn btn-block form-control my-1 facebook-btn" width="500"
                      style="clear:both" type="button">
                        <i class="bi bi-facebook"></i>
                        <i class="mx-2">Continue with Facebook</i>
                       </button>


                       <button class="btn btn-block form-control my-1 google-btn"
                       type="button" width="500" style="clear:both">
                       <i class="bi bi-google" ></i>
                        <i class="mx-3">Continue with Google</i>
                       </button>


                    </form>

                </div>



      </div>



    </div>



  </div>




</div>
