
.c2 {

  text-align: center;

    background-color:  linear-gradient(to bottom, #6e529d 100%,#d97b93 100%);;

    background: #d97b93 ;

background: linear-gradient(to bottom, #d97b93  1%, #6e529d 143%, #d97b93  40%,rgb(102, 26, 224) 100%);


    position: relative;

}

.login {

  position: relative;
  top: 50%;
  transform: translateY(25%);
  top: 50%;
  height: auto;
  background-color: aliceblue;
}


@media screen and (max-height: 800px) {
 
.login {

  position: relative;
  top: 50%;
  transform: translateY(16%);
  top: 50%;
  height: auto;

}

}


@media screen and (max-height: 700px) {
 
  .login {
  
    position: relative;
    top: 50%;
    transform: translateY(7%);
    top: 50%;
    height: auto;

  }
  
  }
  


@media screen and (max-height: 600px) {
 
  .login {
  
    position: relative;
    top: 50%;
    transform: translateY(3%);
    top: 50%;
    height: auto;
    
  }
  
  }
  


.link {
  text-decoration: none;
  font-weight: 600;
  text-decoration: none
}

.link:hover {

  cursor: pointer;

}


.btn-block {

  width: 348px;
  height: 40px;

}

.facebook-btn {

  color :aliceblue;
  background-color: #3b5998 ;
}

.google-btn {

  color: aliceblue;

 background-color: #DB4437;

}

.zaloguj-btn {
  color :aliceblue;
  background-color: #3b9890;

}

input.ng-touched.ng-invalid {

  border:2px solid #ff0000;
}

input.ng-touched.ng-valid {

  border:2px solid #6bc502
}

input.ng-dirty.ng-valid {

  border:2px solid #6bc502
}


input.ng-dirty.ng-invalid {

  border:2px solid #ff0000;
}
