
<!--


  <header>



    <nav class=" navbar navbar-dark bg-dark navbar-expand-lg "
     role = "navigation"  >

      <a class="item navbar-brand  h1" style="font-size:30px; font-family: 'Hanalei Fill', cursive;" href="#">Writers</a>

      <button class="navbar-toggler  my-0" type="button" (click)="showNavClick()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav navbar-collapse" *ngIf="!showNav">

        <a class="item nav-item nav-link routerClick  " routerLink="" >Home</a>

        <a class="item nav-item nav-link navbar-light  routerClick" routerLink="contact" >Contact</a>

        <a class="item nav-item nav-link navbar-light routerClick  " routerLink="write">Write</a>

        <a class="item nav-item nav-link navbar-light routerClick "
        *ngIf="authService.getRole()=='SPECTATOR'" routerLink="login">Login</a>/

        <a class="item nav-item nav-link navbar-light routerClick  mx-2 " *ngIf="authService.getRole()!='SPECTATOR'" routerLink="profile"
      >Profile</a>


        <div class="item nav-item nav-link navbar-light routerClick   " routerLink="chosenCat" (click)="selectedHazard()">Hazard</div>

        <a class="item nav-item nav-link navbar-light routerClick " (click)="selectedDrugs()" routerLink="chosenCat">Narkomania</a>

        
        <li class="item nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            Uzależnienia seksualne
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><div class="dropdown-item pointer" routerLink="chosenCat" (click)="selectedPorno()">Pornografia</div></li>
            <li><a class="dropdown-item" routerLink="chosenCat" (click)="selectedSeks()">Seksoholizm</a></li>
            <li><a class="dropdown-item" routerLink="chosenCat"  (click)="selectedCyberSeks()">Cyberseks</a></li>
          </ul>
        </li>

        <div class="item nav-item nav-link navbar-light routerClick  " routerLink="chosenCat" (click)="selectedAlcohol()">Alkoholizm</div>


        <a class="item nav-item nav-link navbar-light routerClick  " 
        *ngIf="authService.getRole()=='SPECTATOR'" routerLink="register">Register</a>
       
        <li class="item nav-item dropdown" *ngIf="authService.getRole()=='ADMIN'">
          <a class="item nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            Admin Site
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="quotes">Quotes</a></li>
            <li><a class="dropdown-item" routerLink="articlesOption">Articles</a></li>
            <li><a class="dropdown-item" routerLink="users">Users</a></li>
            <li><a class="dropdown-item" routerLink="image">ImageTEST</a></li>
          </ul> s
        </li>

        <div class="float-right nav-item routerClick " 
        style="max-width: 50px;float: right;">


        <li class="item nav-item dropdown" >
          <a class="item nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            <div class="navbar-nav ml-auto " style="min-width: 20px;  top: 50%; margin-left: -10%;">
              <img src="assets/set2.png" class="img-fluid" style="">
            </div>
          </a>
          <ul class="dropdown-menu" style="margin-left: -50px;" aria-labelledby="navbarScrollingDropdown" >
            <li><a class="dropdown-item" routerLink="quotes">Pomoc</a></li>
            <li><a class="dropdown-item" routerLink="articlesOption">Profil</a></li>
            <li><a class="dropdown-item" routerLink="users">Ustawienia</a></li>
            <li><a class="dropdown-item" routerLink="" (click)="logout()" *ngIf="authService.getRole()=='ADMIN' || 
              authService.getRole()=='USER' ">Logout</a></li>
          </ul>
        </li>

          
        </div>

      </div>




    </nav>





  </header>
-->

<div class="row">

      <nav >
      
        
        <label class="logo" >DopaminaX</label>
        <label style="width: 70px; " class="navbar" (click)="showResponsive()"  >
          <img class="img-fluid strip-bar " style="cursor: pointer;"  src="assets/navbar1.png"  >
        </label>

        <ul  >

        
          
        
          <li><a  [class.active]="active=='Home'" (click)="setActive('Home')"  routerLink="">Home</a></li>
          
               
        
          <div class="dropdown" style="display: inline-block;" >
          
              <a class="dropdown-button">TEMATY</a> 
          
            
       
             <div  class="dropdown-menu0" style="height: 0.5rem;"tabindex="1" >
               
             
             </div>
             <div class="dropdown-menu1">

              <div class="row" style="text-align: center;">

                <div class="col-12">

                  <div class="row">

                    <div style="margin-bottom: -0.4rem;"> 

                    </div>

                    <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Alcohol'" (click)="setActive('Alcohol')"
                    routerLink="chosenCat" (click)="selectedAlcohol()">


                      <div class="row">

                            <div class="col-1 mx-2">
                              <i class="fa-solid fa-whiskey-glass icon" style="display: inline-block;"></i>
                              <div style="display: inline-block; ">
                            </div>
                            </div>

                            <div class="col-9 p-1 mx-1">
                              <div class="temat">
                                Alkoholizm
                              </div>
                              <div class="tekst">
                                Tematy poświęcone uzależnieniu od alkoholu
                              </div>
                            </div>


                      </div>
                      
                    </div>



                    <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='TECHNOLOGY'" (click)="setActive('TECHNOLOGY')"
                    routerLink="chosenCat" (click)="selectedTechnology()">


                      <div class="row">

                            <div class="col-1 mx-2">
                              <i class="fa-solid fa-robot icon" style="margin-left: -0.2rem;"></i>
                              <div style="display: inline-block; ">
                            </div>
                            </div>

                            <div class="col-9 p-1 mx-1">
                              <div class="temat">
                                Uzależnienia od Technologii
                              </div>
                              <div class="tekst">
                                Tematy poświęcone często spotykanym uzależnienią od telefonu internetu czy gier
                              </div>
                            </div>


                      </div>
                      
                    </div>



                    <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Drugs'" (click)="setActive('Drugs')"
                    (click)="selectedDrugs()" routerLink="chosenCat">


                      <div class="row">

                            <div class="col-1 mx-2">
                              <i class="fa-solid fa-pills icon"></i>
                              <div style="display: inline-block; ">
                            </div>
                            </div>

                            <div class="col-10 p-1 mx-1">
                              <div class="temat">
                                Narkomania
                              </div>
                              <div class="tekst">
                                Tematy poświęcone uzależnieniu od substancji psychoaktywnych
                              </div>
                            </div>


                      </div>
                      
                    </div>


                    
                    <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Sex'" (click)="setActive('Sex')"
                    routerLink="chosenCat" (click)="selectedSeks()">


                      <div class="row">

                            <div class="col-1 mx-2">
                              <i class="fa-sharp fa-solid fa-heart icon"></i>
                              <div style="display: inline-block; ">
                            </div>
                            </div>

                            <div class="col-10 p-1 mx-1">
                              <div class="temat">
                                Uzależnienia seksualne
                              </div>
                              <div class="tekst">
                                Tematy poświęcone uzależnienią od porno, seksu, cyberseksu itp
                              </div>
                            </div>


                      </div>
                      
                    </div>



                        
                    <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Hazard'" (click)="setActive('Hazard')" 
                    routerLink="chosenCat" (click)="selectedHazard()">


                      <div class="row">

                            <div class="col-1 mx-2">
                              <i class="fa-sharp fa-solid fa-dice-six icon"></i>
                              <div style="display: inline-block; ">
                            </div>
                            </div>

                            <div class="col-10 p-1 mx-1">
                              <div class="temat">
                                Hazard
                              </div>
                              <div class="tekst">
                                Tematy poświęcone obsesją na punkcie gry o pieniądze
                              </div>
                            </div>


                      </div>
                      
                    </div>

                    <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='food'" (click)="setActive('food')"
                   (click)="selectedFood()" routerLink="chosenCat">


                      <div class="row">

                            <div class="col-1 mx-2">
                              <i class="fas fa-hotdog icon"></i>
                              <div style="display: inline-block; ">
                            </div>
                            </div>

                            <div class="col-10 p-1 mx-1">
                              <div class="temat">
                                Zaburzenia odżywiania 
                              </div>
                              <div class="tekst">
                                Tematy poświęcone kompuslsywnemu objadaniu i zaburzenią odżywiania 
                              </div>
                            </div>


                      </div>
                      
                    </div>




                    <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Inne'" (click)="setActive('Inne')"
                    (click)="selectedInne()" routerLink="chosenCat">


                      <div class="row">

                            <div class="col-1 mx-2">
                              <i class="far fa-question-circle icon"></i>
                             
                            </div>

                            <div class="col-10 p-1 mx-1">
                              <div class="temat">
                                Inne uzależnienia 
                              </div>
                              <div class="tekst">
                                Tematy poświęcone różnym ciekawym i rzadziej spotykanym uzależnienią
                              </div>
                            </div>


                      </div>
                      
                    </div>



                



                  </div>


                </div>

                <div class="col-3">

                </div>

              </div>

              
            </div>
         

          </div>
       
       

          <li><a  [class.active]="active=='Login'" *ngIf="authService.getRole()=='SPECTATOR'"
            routerLink="login" (click)="setActive('Login')">Login</a></li>
          


          <div  class="admin-dropdown" style="display: inline-block;">

            <a class="dropdown-button" >
              Kontakt
            </a>
          
          <div  class="dropdown-menu0" style="height: 0.7rem; "tabindex="1" ></div>


            <div class="Omnie-options" style="margin-top: 1.65rem;"> 


              <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Omnie'" (click)="setActive('Omnie')"
              routerLink="autor" >


                <div class="row">

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-user-tie icon"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          O Mnie
                        </div>
                        <div class="tekst">
                          Kim jestem, kilka słów o autorze i o tym czemu powinieneś go zatrudnić
                        </div>
                      </div>


                </div>
                
              </div>




              <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Kontakt'" (click)="setActive('Kontakt')"
              routerLink="contact" >


                <div class="row">

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-envelope icon"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Kontakt
                        </div>
                        <div class="tekst">
                          Masz sprawę, chcesz ulepszyć stronę lub coś ci nie działa skontaktuj się ze mną
                        </div>
                      </div>


                </div>
                
              </div>




            </div>


          </div>

          


          <div  class="admin-dropdown" style="display: inline-block;">

            <a class="dropdown-button">
              Materiały
            </a>
          
          <div  class="dropdown-menu0" style="height: 0.7rem;"tabindex="1" ></div>


            <div class="materials-options" style="margin-top: 1.65rem;"> 


              <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Books'" (click)="setActive('Books')"
              routerLink="books" >


                <div class="row">

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-book icon"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Książki
                        </div>
                        <div class="tekst">
                          Pomocne książki w budowaniu silnej woli i świadomości
                        </div>
                      </div>


                </div>
                
              </div>




              <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Wiara'" (click)="setActive('Wiara')"
              routerLink="chosenCat" (click)="selectedWiara()">


                <div class="row">

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-church icon" style="margin-left: -0.4rem;"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Wiara
                        </div>
                        <div class="tekst">
                          Wiara w Boga a uzależnienia , dlaczego to bardziej istotne niż ci się wydaje
                        </div>
                      </div>


                </div>
                
              </div>







              <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='PASJA'" (click)="setActive('PASJA')"
              routerLink="chosenCat" (click)="selectedPasja()">


                <div class="row">

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-guitar icon"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Pasja
                        </div>
                        <div class="tekst">
                          Dlaczego warto mieć jakąś pasję i dlaczego pomoże ci to pokonać nałóg
                        </div>
                      </div>


                </div>
                
              </div>





              <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Sport'" (click)="setActive('Sport')"
              routerLink="chosenCat" (click)="selectedSport()">


                <div class="row">

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-person-running icon"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Sport
                        </div>
                        <div class="tekst">
                          Dlaczego regularne uprawianie sportu może cię ocalić
                        </div>
                      </div>


                </div>
                
              </div>



            </div>


          </div>


          

          <div class="admin-dropdown" style="display: inline-block;"  *ngIf="authService.getRole()=='ADMIN'">
            <a class="dropdown-button">Admin Site</a>
          
            <div  class="dropdown-menu0" style="height: 0.7rem;"tabindex="1" >
               
             
              
            </div>
            <div  class="admin-options" style="margin-top: 1.65rem;"> 

              <div class="col-12 rowTopics" routerLink="articlesOption"  [class.rowTopicsActivated]="active=='Articles'" (click)="setActive('Articles')"
               >


                <div class="row" >

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-scroll icon"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Artykuły
                        </div>
                        <div class="tekst">
                          Dodawaj, usuwaj lub edytuj artykuły  
                        </div>
                      </div>


                </div>
                
              </div>



              <div class="col-12 rowTopics"  routerLink="users" [class.rowTopicsActivated]="active=='Users'" (click)="setActive('Users')"
             >


                <div class="row">

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-users icon" style="margin-left: -0.21rem;"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Użytkownicy
                        </div>
                        <div class="tekst">
                          Zarządzaj kontami użytkowników
                        </div>
                      </div>


                </div>
                
              </div>




              <div class="col-12 rowTopics" [class.rowTopicsActivated]="active=='Quotes'" (click)="setActive('Quotes')"
              routerLink="chosenCat" routerLink="quotes">


                <div class="row">

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-brain icon"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Cytaty
                        </div>
                        <div class="tekst">
                          Dodawaj, usuwaj lub edytuj cytaty  
                        </div>
                      </div>


                </div>
                
              </div>




              <div class="col-12 rowTopics" routerLink="addBook"  [class.rowTopicsActivated]="active=='AddBook'" (click)="setActive('AddBook')"
               >


                <div class="row" >

                      <div class="col-1 mx-2">
                        <i class="fa-solid fa-book-medical icon"></i>
                        <div style="display: inline-block; ">
                      </div>
                      </div>

                      <div class="col-9 p-1 mx-1">
                        <div class="temat">
                          Książki
                        </div>
                        <div class="tekst">
                          Dodawaj, usuwaj lub edytuj książki 
                        </div>
                      </div>


                </div>
                
              </div>




            </div>

          </div>
    

  
         


          <li style="width:80px " class="border-radius " *ngIf="authService.getRole()!='SPECTATOR'" routerLink="profile">
            
            <img class="img-fluid profil" style="width: 100px;margin-top: -5px;border-radius:700px; border: 2px solid whitesmoke;" 
            [src]="userImg" >
          
         
          <div class="profil-options " >
             


            <div class="row">

              <div style="width: 1rem; margin-bottom: 0.0rem;"></div>
            
             




     
            <div class="rowProfil " [class.rowProfilActivate]="active=='Profil'" (click)="setActive('Profil')"
            *ngIf="authService.getRole()!='SPECTATOR'" >

              <div class="row "  style="height: 3rem;" >


                <div class="col-2 iconProfil" style="  text-align: center;">
                  <i class="fas fa-user iconP"></i>
                 
                </div>

                <div class="col-10 topicProfil"> 
                  
                  <div class="topicP" >
                    <div style=" margin-top: -10px" routerLink="profile">
                      Profil
                    </div>
                   
                  </div>
                 
            

                </div>

            </div>

            </div>











                

                  
                    <div class="rowProfil " >

                      <div class="row "  style="height: 3rem;" >


                        <div class="col-2 iconProfil" style="  text-align: center;">
                          <i class="fas fa-sign-out-alt iconP "></i>
                         
                        </div>

                        <div class="col-10 topicProfil"> 
                          
                          <div class="topicP" >
                            <div style=" margin-top: -10px"  (click)="logout()" *ngIf="authService.getRole()=='ADMIN' || 
                            authService.getRole()=='USER' ">
                              Logout
                            </div>
                           
                          </div>
                         
                    

                        </div>

                    </div>

                    </div>
                    

                  

                  
               

          </div>


         


           



           </div>
          

         
      


          </li>
       
        
          <div class="navbar-nav ml-auto settings-hov" >
            
            <img src="assets/set2.png" class="img-fluid" style="max-width: 60px; margin-top: -4px;">
          </div>
        

        </ul>

      
      

      

        
      </nav>


      <div class="responsive " [class.show]="responsive" *ngIf="responsive">

        <div class="respons"  style="text-align: center;" routerLink="">Home</div>
        <div class="respons"> About</div>
        <div class="respons">Services</div>
        <div class="respons">Contact</div>
        <li class="respons">Feedback</li>

       
      </div>



</div>
