

<header>



    <nav class="navbar navbar-dark bg-dark navbar-expand-lg "
     role = "navigation"  >

      <a class="navbar-brand mx-3 h1" style="font-size:30px; font-family: 'Hanalei Fill', cursive;" href="#">Writers</a>

      <button class="navbar-toggler mx-2 my-0" type="button" (click)="showNavClick()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav navbar-collapse" *ngIf="!showNav">

        <a class="nav-item nav-link routerClick  mx-2 " routerLink="" >Home</a>

        <a class="nav-item nav-link navbar-light mx-2 routerClick" routerLink="contact" >Contact</a>

        <a class="nav-item nav-link navbar-light routerClick  mx-2 " routerLink="write">Write</a>

        <a class="nav-item nav-link navbar-light routerClick  mx-2 " routerLink="login">Login</a>

        <a class="nav-item nav-link navbar-light routerClick  mx-2 " routerLink="profile">Profile</a>


        <a class="nav-item nav-link navbar-light routerClick  mx-2 " routerLink="gambling">Hazard</a>

        <a class="nav-item nav-link navbar-light routerClick  mx-2 " routerLink="drugs">Narkomania</a>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            Uzależnienia seksualne
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="pornography">Pornografia</a></li>
            <li><a class="dropdown-item" routerLink="sexoholism">Seksoholizm</a></li>
            <li><a class="dropdown-item" routerLink="cybersex">Cyberseks</a></li>
          </ul>
        </li>

        <a class="nav-item nav-link navbar-light routerClick  mx-2 " routerLink="alcohol">Alkoholizm</a>


        <a class="nav-item nav-link navbar-light routerClick  mx-2 " routerLink="register">Register</a>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            Admin Site
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="quotes">Quotes</a></li>
            <li><a class="dropdown-item" routerLink="articles">Articles</a></li>
            <li><a class="dropdown-item" routerLink="users">Users</a></li>
          </ul>
        </li>

      </div>




    </nav>





  </header>
