.routerClick {



}

.fixed {

  width: 100%;

  position: fixed;
  transition: 0.2s linear;

  top: 0px;
}


.item{
 
  margin-left: 50px;
  margin-right: 5px;
}


@media (max-width: 2000px) {
  .item{
 
    margin-left: 4px;
    margin-right: 4px;
  }
  
}
@media (max-width: 1000px) {
  .item{
 
    margin-left: 2px;
    margin-right: 2px;
  }
  
}







.nofixed {

  position: static;
  transition: 0.2s linear;
  top: -50px;

}

.routerClick:hover {

    cursor: pointer;

}


.pointer{

  cursor: pointer;
}


