.comment {
    background-color: rgb(56, 13, 126); 
    min-height: 100px;

}

@media screen 
and (min-width: 1000px)
and (max-width: 1350px)  {

    .comment {
        background-color: rgb(65, 51, 87); 
        min-height: 100px;
        max-width: 885px;
    }
}

.profile {
    min-width: 70px;
    max-width: 70px;
    min-height:70px;
    max-height: 70px;
    background-color: black;

}


.text {
    min-width: 710px;
    max-width: 1300px; max-height: 200px;
    font-size: 20px;
}

.send {
    max-width: 80px;
}
.anuluj {
    max-width: 80px;
}