

<div class="col-12 mx-3 p-5 comment rounded" >


    <div class="row">


        
         <div class="col-1 profile rounded-circle " > </div>
        
         <div class="col-10 my-1" >
            <textarea class="form-control text "  
            rows="1" name="text" ></textarea>
         </div>
    
    </div>
    
    <div class="row" style="margin-top: -10px;">

        <div class="col-9 mx-3">

        </div>

        <div class="col-2 rounded-pill  p-0 send">
            <button class="btn btn-primary rounded-pill">Wyślij</button>
            
        </div>

        <div class="col-2 rounded-pill m-0 p-0 send">
            <button class="btn btn-secondary rounded-pill">Anuluj</button>
        </div>

    </div>

</div>