.index-value  {
    background-color: #9583b4;
    background-color: aliceblue;
    min-height: 2200px;
}

.article {

    background-color: rgb(182, 205, 230);
   
}


.topic {
    text-align: justify;
    font-weight: 700;

}

.edit {
    min-height: 100px;
    font-size: 20px;
    font-weight: 600;
    height: 108px;
    background-color: cornflowerblue;
    color: aliceblue;
   
}

.pointer {

}

.pointer:hover {
    cursor: pointer;
    background-color: rgb(75, 111, 177);
}

.artBorder{

}