.c2 {

    text-align: center;

    background-color:  linear-gradient(to bottom, #6e529d 100%,#d97b93 100%);;

    background: #d97b93 ;

background: linear-gradient(to bottom, #d97b93  1%, #6e529d 143%, #d97b93  40%,rgb(102, 26, 224) 100%);


    position: relative;
}

.c3 {
  text-align: center;

}


.alert {


}

.index-value {

    background-color: #9583b4;
    background-color: white;
    background-color: rgb(182, 205, 230);
    min-height: 2200px;
     font-family: montserrat;
    
}

.reklama {
  color: rgb(0, 0, 0);
}

.all-topics {


    background-color: #4b3d61;
    height: 1500px;

}


.topic-right {
 
  font-weight: 500;

}

.pointer {

  
}

.pointer :hover {

  
  cursor: pointer;
}


.col-art {
  min-height: 290px;
  margin-top: 10px;


}

.col-art :hover{
  cursor: pointer;

}


.topic {
  text-align:justify;

  justify-content:space-evenly;
  word-spacing: -1px;
  font-weight: 500;
  font-size: 20px;
}


body {
  color: white;

  font-family: 'segoe ui';
  font-family: montserrat;
}


.wstep {
  margin-left: -8rem;
  font-family: montserrat;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  padding: 10px;
 
}
.wstep0{
  background-color: rgb(182, 205, 230);

  margin-top: 0rem;

}