.c2 {

    text-align: center;
   
    background-color: #6e529d;
}

.index-value {

    background-color: #9583b4;
    height: 700px;

}


.all-topics {


    background-color: #4b3d61;
    height: 700px;

}