
.c2 {

    text-align: center;

    background-color:  linear-gradient(to bottom, #6e529d 100%,#d97b93 100%);;

    background: #d97b93 ;

background: linear-gradient(to bottom, #d97b93  1%, #6e529d 143%, #d97b93  40%,rgb(102, 26, 224) 100%);


    position: relative;
}


.index-value {

    background-color:aliceblue;
    height: auto;

}

.background{

    background-color: royalblue;
    height: 200px;
}

.profile {


    background-color: rgb(78, 78, 78);
    height: auto;
    margin-top: -95px;
    border: 6px solid aliceblue;
}
@media (max-width: 570px) {
    .profile {


        background-color: rgb(78, 78, 78);
        height: auto;
        margin-top: -95px;
        border: 6px solid aliceblue;
    }
    
  }




.leftButton {

    font-size: 20px;
    background-color:cornflowerblue;
    color: aliceblue;
    margin-top: 5px;
    border-radius: 4px;
}
.leftButton:hover {

    cursor: pointer;
    background-color:rgb(137, 173, 240);
}


.infoDiv {
    

    background-color:rgb(48, 48, 48);
}

.icon {
    font-size: 30px;
}

.icon-click {

    font-size: 30px;
    color:royalblue;
    
 
}
.icon-click :hover{
    cursor: pointer;
    font-size: 30px;
    color:royalblue;
    
}