<div class="container-fluid  c2">


    <div class="row justify-content-center m-1 c3">


        <div class="col-12 index-value m-2 rounded " >


            <div class="row" style="text-align: center;">

                
                <div class="col-12 
                background" >


                </div>

                         
               
                    <div class="col-12 col-md-2 mx-auto rounded-circle profile">

                    </div>

               
           



            </div>
          


        </div>



    </div>






</div>