
.c2 {

    text-align: center;

    background-color:  linear-gradient(to bottom, #6e529d 100%,#d97b93 100%);;

    background: #d97b93 ;

background: linear-gradient(to bottom, #d97b93  1%, #6e529d 143%, #d97b93  40%,rgb(102, 26, 224) 100%);


    position: relative;
}


.index-value {

    background-color:aliceblue;
    height: 600px;

}

.background{

    background-color: royalblue;
    height: 200px;
}

.profile {


    background-color: rgb(78, 78, 78);
    height: 200px;
    margin-top: -95px;
    border: 6px solid aliceblue;
}