

<div class="container">


    <div class="row justify-content-center" style="text-align:center;">


        <div class="register col-6 m-3">


            

            <div class="row my-2">

                <div >Utwórz konto to bardzo leglne</div>

                

                <div class="col-6">
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                
                <div class="col-6 ">

                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>

            
            </div>
      

           
            <input type="password" class="form-control my-2" id="password" placeholder="password">

            <input type="password" class="form-control  my-2" id="password" placeholder="repeat password">

        </div>


    </div>





</div>