
.c2 {

    text-align: center;
  
   
  
    background-color:  linear-gradient(to bottom, #6e529d 100%,#d97b93 100%);;

    background: #d97b93 ;

background: linear-gradient(to bottom, #d97b93  1%, #6e529d 143%, #d97b93  40%,rgb(102, 26, 224) 100%);


    position: relative;
  
  }



.register {


    background-color: aliceblue;
    position: relative;
    top: 50%;
    transform: translateY(35%);
    padding: 10px;
}

@media screen and (max-height: 700px) {
 
    .register {


    background-color: aliceblue;
    position: relative;
    top: 50%;
    transform: translateY(15%);
    padding: 10px;
}

    
    }

    @media screen and (max-height: 800px) {
 
        .register {
    
    
        background-color: aliceblue;
        position: relative;
        top: 50%;
        transform: translateY(25%);
        padding: 10px;
    }
    
        
        }
    
        @media screen and (max-height: 600px) {
 
            .register {
        
        
            background-color: aliceblue;
            position: relative;
            top: 50%;
            transform: translateY(6%);
            padding: 10px;
        }
        
            
}
 
@media screen and (max-height: 650px) {
 
    .register {


    background-color: aliceblue;
    position: relative;
    top: 50%;
    transform: translateY(10%);
    padding: 10px;
}

    
    }
        



.check.ng-touched.ng-invalid {

    border:2px solid #ff0000;
}

.check.ng-touched.ng-valid {

    border:2px solid #6bc502
}



.birthdayError{
    border:2px solid #ff0000;
}

.birthdayGood {
    border:2px solid #6bc502
}



.kod {

}
.kod {
    
}